body {
    font-size: 10px;  
  }
  
  #main {
    margin: 2.5rem 1rem;
    padding: 1em;
    border-radius: 1em;
    background-color: rgb(234, 232, 232);
  }
  
  #title {
    margin: 1.5rem auto;
    text-align: center;
    font-size: 2.5rem;
    font-family: Helvetica;
  }
  
  figure, p {
    text-align: center;
  }
  
  .content, #img-caption {
    font-family: sans-serif;
    font-size: 1.5rem;
  }
  
  #img-div {
    background-color: rgb(235, 238, 238);
    padding: 1rem 0;
    border: 1px solid #000;
    border-radius: 0.5em;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 1rem 0; 
  }
  
  section {
    margin: 0 auto;
  }
  
  .timeline {
    margin-top: 2.7rem;
    text-align: center;
    font-size: 1.65rem;
    font-family: Helvetica; 
  }
  
  #tribute-info > ul {
    font-size: 1.55rem;
    margin-left: 3em;
  }
  
  #tribute-info li {
    padding-top: 2.5rem;
    font-family: Arial;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .stephen{
    padding-top: 2rem;
  }
  
  .stephen, .david, .barack {
    font-size: 1.45rem;
    text-align: left;
    padding-left: 4em;  
    font-family: Arial;
   
  }
  
  .height {
     line-height: 1.4em;
  }
  
  .wiki, #tribute-link {
    font-size: 1.4rem;
    font-family: sans-serif;
    padding: 1em 0;
  }
  
  a:hover {
    color: rgb(0, 0, 255);
  }
  
  a:active{
    color: #000;
  }